.input__label {
  width: 100%;
  display: flex;
  gap: 17px;
}

.input__text {
  // выставляем отступ равный половение высоты input__field минус половина высоты текста
  margin-top: calc((44px / 2) - (17px / 2));
  max-width: 140px;
  width: 100%;
}

.input__required {
  color: red;
  width: 5px;
  height: 5px;
}

.input__add {
  display: flex;
  gap: 10px;
  align-items: center;
  width: inherit;

  &.input__description {
    padding-bottom: 17px;
    position: relative;
  }
}

.input__field {
  width: 100%;
  background: transparent;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  padding: 12px 30px 8px 15px;

  &.long {
    max-width: 500px;
  }
  &.middle {
    max-width: 300px;
  }
  &.short {
    max-width: 200px;
  }
}

.input__description-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  line-height: 17px;
  color: #9d9d9d;
}
