<div class="checkbox">
  <span class="checkbox__text">{{ labelText }} </span>

  <div class="checkbox__content">
    <label *ngFor="let elem of checkboxData" [for]="elem.text" class="checkbox__label">
      <div class="checkbox__container">
        <input
          #checkbox
          type="checkbox"
          class="checkbox__input"
          (change)="onChanged(elem.text, checkbox.checked)"
          [checked]="elem.isChecked"
          name="{{ elem.text }}"
        />
        <span class="checker"></span>
      </div>
      <span> {{ elem.text }} </span>
    </label>

    <label *ngIf="checkboxData.length > 1" class="checkbox__label checkbox__label--all" for="all">
      <div class="checkbox__container">
        <input
          type="checkbox"
          class="checkbox__input"
          (change)="onAllCheck()"
          [checked]="isAllChecked"
          name="all"
        />
        <span class="checker"></span>
      </div>
      <span> Выделить все </span>
    </label>
  </div>
</div>
